<li class='dropdown light only-icon'>
	<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
		<i class='icon-adjust'></i>
	</a>
	<ul class='dropdown-menu color-settings'>
		<li class='color-settings-contrast-color'>
			<div class='color-title'>&nbsp&nbsp配色主题</div>
			<a href="#" data-change-to="contrast-fb"><i class='icon-adjust text-fb'></i>
				Facebook<small>（默认）</small>
			</a>
			<a href="#" data-change-to="contrast-blue"><i class='icon-adjust text-blue'></i>
				亮蓝色
			</a>
			<a href="#" data-change-to="contrast-red"><i class='icon-adjust text-red'></i>
				红色
			</a>
			<a href="#" data-change-to="contrast-orange"><i class='icon-adjust text-orange'></i>
				橙色
			</a>
			<a href="#" data-change-to="contrast-purple"><i class='icon-adjust text-purple'></i>
				紫色
			</a>
			<a href="#" data-change-to="contrast-green"><i class='icon-adjust text-green'></i>
				绿色
			</a>
			<a href="#" data-change-to="contrast-muted"><i class='icon-adjust text-muted'></i>
				灰色
			</a>
			<a href="#" data-change-to="contrast-dark"><i class='icon-adjust text-dark'></i>
				黑色
			</a>
			<a href="#" data-change-to="contrast-pink"><i class='icon-adjust text-pink'></i>
				粉色
			</a>
			<a href="#" data-change-to="contrast-grass-green"><i class='icon-adjust text-grass-green'></i>
				草绿色
			</a>
			<a href="#" data-change-to="contrast-sea-blue"><i class='icon-adjust text-sea-blue'></i>
				海蓝
			</a>
			<a href="#" data-change-to="contrast-banana"><i class='icon-adjust text-banana'></i>
				香蕉黄
			</a>
			<a href="#" data-change-to="contrast-dark-orange"><i class='icon-adjust text-dark-orange'></i>
				暗橙
			</a>
			<a href="#" data-change-to="contrast-brown"><i class='icon-adjust text-brown'></i>
				shi色
			</a>
		</li>
	</ul>
</li>
